:root {
  --vp-font-family-base: Noto Sans SC, Noto Sans CJK SC, Noto Sans, Noto Color Emoji, ui-sans-serif, system-ui,
    -apple-system, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --vp-font-family-mono: Noto Sans Mono CJK SC, Noto Sans Mono, Cascadia Mono, ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, Liberation Mono, Courier New, monospace, var(--vp-font-family-base);
  --vp-nav-bg-color: rgb(255 255 255 / 0.9);
  --vp-local-nav-bg-color: var(--vp-nav-bg-color);
  --vp-c-indigo-1: #fb7185;
  --vp-c-indigo-2: #f43f5e;
  --vp-c-indigo-3: #e11d48;
  --vp-c-indigo-soft: rgba(244, 63, 94, 0.16);
}

:root.dark {
  --vp-nav-bg-color: rgb(27 27 31 / 0.9);
}

.VPNav .VPNavBar .wrapper .container .content .content-body,
.Layout .VPLocalNav.has-sidebar {
  backdrop-filter: blur(1rem);
}

.VPNav .VPNavBar .VPNavBarTitle img.VPImage.logo,
.VPContent.is-home .VPHome .VPHero.VPHomeHero img.VPImage {
  border-radius: 100%;
}

.algolia [command-dialog-mask] {
  background-color: rgb(0 0 0 / 0.5);
  backdrop-filter: blur(1rem);
}

@media (min-width: 960px) {
  .VPHome {
    margin-top: 56px;
  }
}
